allow bootanim sysfs_kgsl:dir search;
allow bootanim system_data_file:dir { open read };
allow bootanim userspace_reboot_exported_prop:file { open read };
