add_hwservice(cnd, hal_slmadapter_hwservice)
set_prop(cnd, vendor_wifi_prop);

userdebug_or_eng(`
  allow cnd diag_device:chr_file rw_file_perms;
')

dontaudit cnd diag_device:chr_file rw_file_perms;

