allow platform_app sysfs_kgsl:dir search;

get_prop(platform_app, camera_prop)
get_prop(platform_app, persist_camera_prop)
allow platform_app camera_prop:file { read open getattr };

