allow platform_app sysfs_kgsl:dir search;

get_prop(platform_app, camera_prop)
get_prop(platform_app, persist_camera_prop)
allow platform_app camera_prop:file { read open getattr };

allow platform_app sysfs_battery_supply:dir search;
allow platform_app sysfs_battery_supply:file { getattr open read };
allow platform_app sysfs_kgsl:file { getattr open read };

