# Camera read only property
vendor_public_prop(camera_ro_prop);
vendor_public_prop(vendor_camera_prop);

# Dirac
vendor_public_prop(dirac_prop);

# Fingerprint
vendor_public_prop(vendor_fingerprint_prop);

# Thermal engine
vendor_public_prop(thermal_engine_prop);
vendor_public_prop(vendor_thermal_prop);

# Wifi
vendor_public_prop(vendor_wifi_prop);
