typeattribute qti_init_shell data_between_core_and_vendor_violators;

allow qti_init_shell proc_touchpanel:dir { r_dir_perms setattr };
allow qti_init_shell proc_touchpanel:file { getattr setattr };
allow qti_init_shell bluetooth_data_file:file r_file_perms;
set_prop(qti_init_shell, fm_prop)
allow qti_init_shell vfat:dir { search };
allow qti_init_shell vfat:dir { read };
allow qti_init_shell vfat:file { getattr };
allow qti_init_shell vfat:dir { open };
allow qti_init_shell vfat:file { read };
allow qti_init_shell vfat:file { open };
allow qti_init_shell proc_dirty_ratio:file { write open };
allow qti_init_shell qti_init_shell:capability { kill };
allow qti_init_shell sysfs:dir { r_dir_perms setattr };
allow qti_init_shell sysfs:file { getattr setattr };
allow qti_init_shell sysfs_kgsl:file { setattr write };

r_dir_file(qti_init_shell, vfat)
allow qti_init_shell system_data_file:dir { write };
allow qti_init_shell system_data_file:dir { getattr };
allow qti_init_shell system_data_file:dir { read };
allow qti_init_shell system_data_file:dir { open };
allow qti_init_shell system_data_file:file { getattr };
allow qti_init_shell system_data_file:dir { remove_name };
allow qti_init_shell system_data_file:dir { rmdir };
allow qti_init_shell system_data_file:dir { setattr };

set_prop(qti_init_shell, ctl_start_prop)
set_prop(qti_init_shell, ctl_stop_prop)
set_prop(qti_init_shell, system_prop)
dontaudit qti_init_shell self:capability { dac_override dac_read_search };