allow untrusted_app_29 system_data_file:dir { read };
allow untrusted_app_29 system_data_file:file { read open };
allow untrusted_app_29 vendor_camera_prop:file read;
